---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/966746cb-62a3-5b8f-b268-f4b8732d59e2/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - 6767bd31218ab52a07e813f3f7a9ec96a9b181c68b12bc9d5347e20d34bf5e1e
      Cb-Access-Timestamp:
      - '1644985625'
      Cb-Version:
      - '2021-03-31'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"6900b0d864d2ed72e1128927b5039452"
      Trace-Id:
      - '8805139445969341851'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"b46dacc9-7387-5abe-a3e5-3a9e057b1a69","type":"trade","status":"completed","amount":{"amount":"0.00528336","currency":"MKR"},"native_amount":{"amount":"19.28","currency":"USD"},"description":null,"created_at":"2021-05-19T12:17:38Z","updated_at":"2021-05-19T12:17:39Z","resource":"transaction","resource_path":"/v2/accounts/966746cb-62a3-5b8f-b268-f4b8732d59e2/transactions/b46dacc9-7387-5abe-a3e5-3a9e057b1a69","instant_exchange":false,"trade":{"id":"329cb0dc-737c-5556-bff7-d5d7f2de0bd2","resource":"trade","resource_path":"/v2/accounts/966746cb-62a3-5b8f-b268-f4b8732d59e2/trades/329cb0dc-737c-5556-bff7-d5d7f2de0bd2"},"details":{"title":"Converted
        to Maker","subtitle":"Using DAI Wallet","header":"Converted 0.00528336 MKR
        ($19.28)","health":"positive","payment_method_name":"DAI Wallet"},"hide_native_amount":false},{"id":"d6366a08-3a13-5cf4-ae8e-5c423fdab6a8","type":"trade","status":"completed","amount":{"amount":"0.00138017","currency":"MKR"},"native_amount":{"amount":"6.86","currency":"USD"},"description":null,"created_at":"2021-05-18T11:30:02Z","updated_at":"2021-05-18T11:30:03Z","resource":"transaction","resource_path":"/v2/accounts/966746cb-62a3-5b8f-b268-f4b8732d59e2/transactions/d6366a08-3a13-5cf4-ae8e-5c423fdab6a8","instant_exchange":false,"trade":{"id":"83b73da1-290c-5e4c-a04b-44f46a422bf2"[...]
