---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/info?symbol=BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2021-04-15T02:26:58.738Z",
                "error_code": 1001,
                "error_message": "This API Key is invalid.",
                "elapsed": 0,
                "credit_count": 0
            }
        }
  recorded_at: Thu, 15 Apr 2021 02:26:58 GMT
recorded_with: VCR 6.0.0
