---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/info?symbol=SUPER_FAKE_SYMBOL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":{"timestamp":"2021-04-15T02:26:58.438Z","error_code":400,"error_message":"\"symbol\"
        should only include comma-separated alphanumeric cryptocurrency symbols","elapsed":0,"credit_count":0}}'
  recorded_at: Thu, 15 Apr 2021 02:26:58 GMT
recorded_with: VCR 6.0.0
