---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts?starting_after=83f061d1-5152-534f-8415-87082a5ab086
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - 239c161e7ef7ec4e2a8dafbe65e0a79dc9ab5f5e0c97d0d115fbc8b7f8f72649
      Cb-Access-Timestamp:
      - '1644984794'
      Cb-Version:
      - '2021-03-31'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"d67ccdf6361ddbcd62769d6b00ce94f5"
      Trace-Id:
      - '6101420110774378652'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"ending_before":null,"starting_after":"83f061d1-5152-534f-8415-87082a5ab086","previous_ending_before":"966746cb-62a3-5b8f-b268-f4b8732d59e2","next_starting_after":null,"limit":86,"order":"desc","previous_uri":"/v2/accounts?ending_before=966746cb-62a3-5b8f-b268-f4b8732d59e2","next_uri":null},"data":[{"id":"966746cb-62a3-5b8f-b268-f4b8732d59e2","name":"MKR
        Wallet","primary":true,"type":"wallet","currency":{"code":"MKR","name":"Maker","color":"#1AAB9B","sort_index":114,"exponent":8,"type":"crypto","address_regex":"^(?:0x)?[0-9a-fA-F]{40}$","asset_id":"5553e486-7a85-5433-a5c1-aaeb18a154dd","slug":"maker"},"balance":{"amount":"0.05898879","currency":"MKR"},"created_at":"2021-05-02T02:45:48Z","updated_at":"2021-05-19T12:17:39Z","resource":"account","resource_path":"/v2/accounts/966746cb-62a3-5b8f-b268-f4b8732d59e2","allow_deposits":true,"allow_withdrawals":true},{"id":"165c9dc4-3bb5-5e4f-9ed4-05c7c99f5482","name":"CGLD
        Wallet","primary":true,"type":"wallet","currency":{"code":"CGLD","name":"Celo","color":"#FBCC5C","sort_index":142,"exponent":8,"type":"crypto","address_regex":"^(?:0x)?[0-9a-fA-F]{40}$","asset_id":"cfc02e75-e09b-535b-b35c-3c8bb0e63462","slug":"celo"},"balance":{"amount":"0.00000000","currency":"CGLD"},"created_at":"2021-04-12T19:52:39Z","updated_at":"2021-04-12T20:01:05Z","resource":"account","resource_path":"/v2/accounts/165c9dc4-3bb5-5e4f-9ed4-05c7c99f5482","allow_deposits":true,"allow_withdrawals":true},{"id":"6cbd5bdb-7df5-5a2a-8012-b98cdb2fb526","name":"ATOM
        Wallet","primary":true,"type":"wallet","currency":{"code":"ATOM","name":"Cosmos","color":"#2E3148","sort_index":133,"exponent":6,"type":"crypto","address_regex":"^cosmos1[ac-hj-np-z02-9]{38}$","asset_id":"64c607d2-4663-5649-86e0-3ab06bba0202","destination_tag_name":"ATOM
        Memo","destination_tag_regex":"^\\w{1,24}$","slug":"cosmos"},"balance":{"amount":"0.000000","currency":"ATOM"},"created_at":"2021-04-12T12:41:05Z","updated_at":"2021-04-12T12:41:05Z","resource":"account","resource_path":"/v2/accounts/6cbd5bdb-7df5-5a2a-8012-b98cdb2fb526","allow_deposits":true,"allow_withdrawals":true,"rewards":{"apy":"0.05","formatted_apy":"5.00%","label":"5.00%
        APY"}},{"id":"265d3b77-0adb-5c47-ad35-6572578475a5","name":"DAI Wallet","primary":true,"type":"wallet","currency":{"code":"DAI","name":"Dai","color":"#FFB74D","sort_index":115,"exponent":8,"type":"crypto","address_regex":"^(?:0x)?[0-9a-fA-F]{40}$","asset_id":"01e9e33b-d099-56fb-aa3b-76c19d0b250e","slug":"dai"},"balance":{"amount":"624.34301313","currency":"DAI"},"created_at":"2021-04-12T09:21:48Z","updated_at":"2022-02-15T11:40:37Z","resource":"account","resource_path":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5","allow_deposits":true,"allow_withdrawals":true,"rewards_apy":"0.02","rewards":{"apy":"0.02","formatted_apy":"2.00%","label":"2.00%
        APY"}},{"id":"91909868-bae1-534e-9e81-d4cb0f4c2ea8","name":"COMP Wallet","primary":true,"type":"wallet","currency":{"code":"COMP","name":"Compound","color":"#00D395","sort_index":137,"exponent":8,"type":"crypto","address_regex":"^(?:0x)?[0-9a-fA-F]{40}$","asset_id":"65557d44-082d-50a1-a68b-bc98d961f794","slug":"compound"},"balance":{"amount":"0.45043846","currency":"COMP"},"created_at":"2021-04-08T19:54:20Z","updated_a[...]
