---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - a1ee7b379be08226220c9e771e257ffe5ef7b7b95b80dc7ae2e041fddfa9a698
      Cb-Access-Timestamp:
      - '1644984185'
      Cb-Version:
      - '2021-03-31'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"1ca2bc6b5f4de6dc219dfea8c39ca10e"
      Trace-Id:
      - '6984189320890642688'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"ending_before":null,"starting_after":null,"previous_ending_before":null,"next_starting_after":"ffe6501b-71b3-5e65-b031-887893b70e05","limit":25,"order":"desc","previous_uri":null,"next_uri":"/v2/accounts?starting_after=ffe6501b-71b3-5e65-b031-887893b70e05"},"data":[{"id":"2fc10e3c-c89f-58dd-a70c-01b652af5c69","name":"TRU
        Wallet","primary":true,"type":"wallet","currency":{"code":"TRU","name":"Truefi","color":"#1A5AFF","sort_index":208,"exponent":8,"type":"crypto","address_regex":"^(?:0x)?[0-9a-fA-F]{40}$","asset_id":"248c3984-79c8-5df2-a35d-bbd3a3e16e70","slug":"truefi-token"},"balance":{"amount":"0.00000000","currency":"TRU"},"created_at":"2021-08-17T19:49:17Z","updated_at":"2021-08-17T19:49:17Z","resource":"account","resource_path":"/v2/accounts/2fc10e3c-c89f-58dd-a70c-01b652af5c69","allow_deposits":true,"allow_withdrawals":true},{"id":"8877e028-6486-58fc-846f-7fc96182514a","name":"WLUNA
        Wallet","primary":true,"type":"wallet","currency":{"code":"WLUNA","name":"Wrapped
        Luna","color":"#28CD88","sort_index":207,"exponent":8,"type":"crypto","address_regex":"^(?:0x)?[0-9a-fA-F]{40}$","asset_id":"ecd5367c-801d-5160-8c7a-6bb5f9bb018b","slug":"wrapped-luna-token"},"balance":{"amount":"0.00000000","currency":"WLUNA"},"created_at":"2021-08-17T19:49:17Z","updated_at":"2021-08-17T19:49:17Z","resource":"account"[...]
