---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - a98baae9b36fe269f72b99ab505497ad90f20242184114ab093061c2d53c7bfe
      Cb-Access-Timestamp:
      - '1644985888'
      Cb-Version:
      - '2021-03-31'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"7860cf94fbf3a3d4951a398a35f69a1a"
      Trace-Id:
      - '5835494362452824035'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"created_at":"2021-04-16T09:41:57Z","display_input_amount":{"amount":"30.00","currency":"USD"},"id":"b33f363b-6783-5a43-8ef0-6a128d2224f8","input_amount":{"amount":"29.96895217","currency":"DAI"},"output_amount":{"amount":"0.00048516","currency":"BTC"},"exchange_rate":{"amount":"0.00001619","currency":"BTC"},"unit_price":{"target_to_fiat":{"amount":"61773.44","currency":"USD"},"target_to_source":{"amount":"61771.27580592","currency":"DAI"}},"fee":{"amount":"0.00","currency":"USD"},"status":"completed","updated_at":"2021-04-16T09:42:02Z","user_warnings":[],"applied_subscription_benefit":false,"fee_without_subscription_benefit":null},{"created_at":"2021-04-17T14:47:49Z","display_input_amount":{"amount":"30.00","currency":"USD"},"id":"e25a2ede-cd3a-57af-987c-0a81bc40d632","input_amount":{"amount":"29.98984844","currency":"DAI"},"output_amount":{"amount":"0.00048397","currency":"BTC"},"exchange_rate":{"amount":"0.00001614","currency":"BTC"},"unit_price":{"target_to_fiat":{"amount":"61966.65","currency":"USD"},"target_to_source":{"amount":"61966.33766556","currency":"DAI"}},"fee":{"amount":"0.00","currency":"USD"},"status":"completed","updated_at":"2021-04-17T14:47:55Z","user_warnings":[],"applied_subscription_benefit":false,"fee_without_subscription_benefit":null},{"created_at":"2021-04-23T01:09:12Z","display_input_amount":{"amount":"15.00","currency":"USD"},"id":"1ed7e1fd-5f0a-57cf-b6c6-de6886cc4949","input_amount":{"amount":"14.99744294","currency":"DAI"},"output_amount":{"amount":"0.00028741","currency":"BTC"},"exchange_rate":{"amount":"0.00001916","currency":"BTC"},"unit_price":{"target_to_fiat":{"amount":"52190.25","currency":"USD"},"target_to_source":{"amount":"52181.35395428","currency":"DAI"}},"fee":{"amount":"0.00","currency":"USD"},"status":"completed","updated_at":"2021-04-23T01:09:18Z","user_warnings":[],"applied_subscription_benefit":false,"fee_without_subscription_benefit":null}]}'
  recorded_at: Wed, 16 Feb 2022 04:31:31 GMT
recorded_with: VCR 6.0.0
