---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/info?symbol=ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2021-04-15T02:26:58.616Z","error_code":0,"error_message":null,"elapsed":5,"credit_count":1,"notice":null},"data":{"ETH":{"urls":{"website":["https://www.ethereum.org/"],"technical_doc":["https://github.com/ethereum/wiki/wiki/White-Paper"],"twitter":["https://twitter.com/ethereum"],"reddit":["https://reddit.com/r/ethereum"],"message_board":["https://forum.ethereum.org/"],"announcement":["https://bitcointalk.org/index.php?topic=428589.0"],"chat":["https://gitter.im/orgs/ethereum/rooms"],"explorer":["https://blockchain.coinmarketcap.com/chain/ethereum","https://etherscan.io/","https://ethplorer.io/","https://blockchair.com/ethereum","https://eth.tokenview.com/en/blocklist"],"source_code":["https://github.com/ethereum"]},"logo":"https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png","id":1027,"name":"Ethereum","symbol":"ETH","slug":"ethereum","description":"Ethereum
        (ETH) is a smart contract platform that enables developers to build decentralized
        applications (dapps) conceptualized by Vitalik Buterin in 2013. ETH is the
        native currency for the Ethereum platform and also works as the transaction
        fees to miners on the Ethereum network.\r\n\r\nEthereum is the pioneer for
        blockchain based smart contracts. When running on the blockchain a smart contract
        becomes like a self-operating computer program that automatically executes
        when specific conditions are met. On the blockchain, smart contracts allow
        for code to be run exactly as programmed without any possibility of downtime,
        censorship, fraud or third-party interference. It can facilitate the exchange
        of money, content, property, shares, or anything of value. The Ethereum network
        went live on July 30th, 2015 with 72 million Ethereum premined.","notice":null,"date_added":"2015-08-07T00:00:00.000Z","tags":["mineable"],"date_launched":null,"platform":null,"category":"coin"}}}'
  recorded_at: Thu, 15 Apr 2021 02:26:58 GMT
recorded_with: VCR 6.0.0
