---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/buys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - b8cbb486d2dabff84f90de495cc17e2cee284fd8fd7237b9d56788f434364508
      Cb-Access-Timestamp:
      - '1645043804'
      Cb-Version:
      - '2021-03-31'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"25f8f7dc154234d1e8c05e1a90ddd6d7"
      Trace-Id:
      - '8389610844375974686'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"ending_before":null,"starting_after":null,"previous_ending_before":null,"next_starting_after":null,"limit":25,"order":"desc","previous_uri":null,"next_uri":null},"data":[{"id":"b92b1981-9b4a-562f-bcf0-41c8d3a71e19","status":"completed","transaction":{"id":"19ef1ad7-af91-51ce-9e4e-7347a4fa91b8","resource":"transaction","resource_path":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/transactions/19ef1ad7-af91-51ce-9e4e-7347a4fa91b8"},"user_reference":"EK2VJVDE","created_at":"2021-09-20T17:31:50Z","updated_at":"2021-09-20T17:32:01Z","resource":"buy","resource_path":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/buys/b92b1981-9b4a-562f-bcf0-41c8d3a71e19","payment_method":{"id":"e58ed69b-c6be-54c5-bbe6-40a2afe2e318","resource":"payment_method","resource_path":"/v2/payment-methods/e58ed69b-c6be-54c5-bbe6-40a2afe2e318"},"committed":true,"payout_at":"2021-09-20T17:31:53Z","instant":true,"fee":{"amount":"11.51","currency":"USD"},"amount":{"amount":"287.00105717","currency":"DAI"},"total":{"amount":"300.00","currency":"USD"},"subtotal":{"amount":"288.49","currency":"USD"},"unit_price":{"amount":"1.0052","currency":"USD","scale":4},"hold_until":null,"hold_days":0,"idem":"5c12e8d6-750d-4f67-b360-ee63299ddf70","next_step":null,"is_first_buy":false,"requires_completion_step":false},{"id":"3b7e8af2-68da-58ce-bfb8-3cb3936a6847","status":"completed","transaction":{"id":"1a849eba-5b0b-5c8a-8bd2-41ad7ea989b8","resource":"transaction","resource_path":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/transactions/1a849eba-5b0b-5c8a-8bd2-41ad7ea989b8"},"user_reference":"B75CSFHM","created_at":"2021-04-12T09:22:01Z","updated_at":"2021-04-12T09:22:28Z","resource":"buy","resource_path":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/buys/3b7e8af2-68da-58ce-bfb8-3cb3936a6847","payment_method":{"id":"e58ed69b-c6be-54c5-bbe6-40a2afe2e318","resource":"payment_method","resource_path":"/v2/payment-methods/e58ed69b-c6be-54c5-bbe6-40a2afe2e318"},"committed":true,"payout_at":"2021-04-12T09:22:21Z","instant":true,"fee":{"amount":"1.99","currency":"USD"},"amount":{"amount":"47.78200966","currency":"DAI"},"total":{"amount":"50.00","currency":"USD"},"subtotal":{"amount":"48.01","currency":"USD"},"unit_price":{"amount":"1.0048","currency":"USD","scale":4},"hold_until":null,"hold_days":0,"idem":"91a62b12-ab6b-4a9b-b2b4-8f3a47649cb9","next_step":null,"is_first_buy":false,"requires_completion_step":false}]}'
  recorded_at: Wed, 16 Feb 2022 20:36:44 GMT
recorded_with: VCR 6.0.0
