---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/966746cb-62a3-5b8f-b268-f4b8732d59e2/transactions?starting_after=381ccf7f-760e-5eab-9989-3ef43a43c34a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - 0fb311a486843beb6a9c5575bbf2e6b82a0dd0107ff2efa2296de2359fe1c22e
      Cb-Access-Timestamp:
      - '1644985495'
      Cb-Version:
      - '2021-03-31'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"0106546d9e0f1b513b92fe1b972054e2"
      Trace-Id:
      - '3549354257571117341'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"35594d68-6df5-5b98-938e-2cdbb8c219bc","type":"trade","status":"completed","amount":{"amount":"0.00166782","currency":"MKR"},"native_amount":{"amount":"9.84","currency":"USD"},"description":null,"created_at":"2021-05-04T12:54:35Z","updated_at":"2021-05-04T12:54:36Z","resource":"transaction","resource_path":"/v2/accounts/966746cb-62a3-5b8f-b268-f4b8732d59e2/transactions/35594d68-6df5-5b98-938e-2cdbb8c219bc","instant_exchange":false,"trade":{"id":"212f4a1c-308c-5229-895d-1598ff5d9f01","resource":"trade","resource_path":"/v2/accounts/966746cb-62a3-5b8f-b268-f4b8732d59e2/trades/212f4a1c-308c-5229-895d-1598ff5d9f01"},"details":{"title":"Converted
        to Maker","subtitle":"Using DAI Wallet","header":"Converted 0.00166782 MKR
        ($9.84)","health":"positive","payment_method_name":"DAI Wallet"},"hide_native_amount":false},{"id":"827eff26-ff56-58cb-a3ac-c27612987a80","type":"trade","status":"completed","amount":{"amount":"0.00099042","currency":"MKR"},"native_amount":{"amount":"4.90","currency":"USD"},"description":null,"created_at":"2021-05-02T14:38:35Z","updated_at":"2021-05-02T14:38:37Z","resource":"transaction","resource_path":"/v2/accounts/966746cb-62a3-5b8f-b268-f4b8732d59e2/transactions/827eff26-ff56-58cb-a3ac-c27612987a80","instant_exchange":false,"trade":{"id":"7060e983-a986-5147-b4ef-5e9351149412"[...]
