---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/buys?starting_after=92c6ca6b-f8fa-568f-b058-1d3ecbe8d11d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - 7b95c1c1e35847efe4564bea39b8cad40dfcf7e951f7dd11e8057c717817907d
      Cb-Access-Timestamp:
      - '1645043803'
      Cb-Version:
      - '2021-03-31'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"7c7c7b322ba441a6db029b8d7a63fa7c"
      Trace-Id:
      - '1066118818545725134'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"ending_before":null,"starting_after":"92c6ca6b-f8fa-568f-b058-1d3ecbe8d11d","previous_ending_before":"0fc184bc-c8bf-54fc-a0d2-576c315df22d","next_starting_after":null,"limit":25,"order":"desc","previous_uri":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/buys?ending_before=0fc184bc-c8bf-54fc-a0d2-576c315df22d","next_uri":null},"data":[{"id":"0fc184bc-c8bf-54fc-a0d2-576c315df22d","status":"completed","transaction":{"id":"545becf3-97e5-557d-965c-9c0b6e6f72d2","resource":"transaction","resource_path":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/transactions/545becf3-97e5-557d-965c-9c0b6e6f72d2"},"user_reference":"8FFQUFKL","created_at":"2021-05-19T16:36:28Z","updated_at":"2021-05-19T16:36:37Z","resource":"buy","resource_path":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/buys/0fc184bc-c8bf-54fc-a0d2-576c315df22d","payment_method":{"id":"e58ed69b-c6be-54c5-bbe6-40a2afe2e318","resource":"payment_method","resource_path":"/v2/payment-methods/e58ed69b-c6be-54c5-bbe6-40a2afe2e318"},"committed":true,"payout_at":"2021-05-19T16:36:30Z","instant":true,"fee":{"amount":"3.84","currency":"USD"},"amount":{"amount":"95.82348955","currency":"DAI"},"total":{"amount":"100.00","currency":"USD"},"subtotal":{"amount":"96.16","currency":"USD"},"unit_price":{"amount":"1.0035","currency":"USD","scale":4},"hold_until":null,"hold_days":0,"idem":"26d096c9-0d40-4a11-845e-2e5447a92bc3","next_step":null,"is_first_buy":false,"requires_completion_step":false},{"id":"3b7e8af2-68da-58ce-bfb8-3cb3936a6847","status":"completed","transaction":{"id":"1a849eba-5b0b-5c8a-8bd2-41ad7ea989b8","resource":"transaction","resource_path":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/transactions/1a849eba-5b0b-5c8a-8bd2-41ad7ea989b8"},"user_reference":"B75CSFHM","created_at":"2021-04-12T09:22:01Z","updated_at":"2021-04-12T09:22:28Z","resource":"buy","resource_path":"/v2/accounts/265d3b77-0adb-5c47-ad35-6572578475a5/buys/3b7e8af2-68da-58ce-bfb8-3cb3936a6847","payment_method":{"id":"e58ed69b-c6be-54c5-bbe6-40a2afe2e318","resource":"payment_method","resource_path":"/v2/payment-methods/e58ed69b-c6be-54c5-bbe6-40a2afe2e318"},"committed":true,"payout_at":"2021-04-12T09:22:21Z","instant":true,"fee":{"amount":"1.99","currency":"USD"},"amount":{"amount":"47.78200966","currency":"DAI"},"total":{"amount":"50.00","currency":"USD"},"subtotal":{"amount":"48.01","currency":"USD"},"unit_price":{"amount":"1.0048","currency":"USD","scale":4},"hold_until":null,"hold_days":0,"idem":"91a62b12-ab6b-4a9b-b2b4-8f3a47649cb9","next_step":null,"is_first_buy":false,"requires_completion_step":false}]}'
  recorded_at: Wed, 16 Feb 2022 20:36:44 GMT
recorded_with: VCR 6.0.0
