---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/info?symbol=NOTREALSYMBOL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":{"timestamp":"2021-04-16T11:09:54.873Z","error_code":400,"error_message":"Invalid
        value for \"symbol\": \"NOTREALSYMBOL\"","elapsed":0,"credit_count":0,"notice":null}}'
  recorded_at: Fri, 16 Apr 2021 11:09:54 GMT
recorded_with: VCR 6.0.0
